<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="8.2.0.2" targetFramework="net452" />
  <package id="Microsoft.CrmSdk.Deployment" version="8.2.0.2" targetFramework="net452" />
  <package id="Microsoft.CrmSdk.Extensions" version="7.1.0.1" targetFramework="net452" />
  <package id="Microsoft.CrmSdk.Workflow" version="8.2.0.2" targetFramework="net452" />
  <package id="Microsoft.IdentityModel" version="6.1.7600.16394" targetFramework="net45" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.2.1" targetFramework="net452" />
  <package id="Moq" version="4.2.1510.2205" targetFramework="net452" />
  <package id="WindowsAzure.ServiceBus" version="3.1.7" targetFramework="net452" />
  <package id="Xrm.Framework.Test" version="7.0.0.1" targetFramework="net452" />
</packages>